/*Diseño para el Login*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../IMAGENES/CC-Log.jpg');
    background-size: cover;
}
.container-form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: transform 0.5s ease-in-out;
    margin: 10px;
    position: relative;
    transform: translateY(0);
}
.information{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #C0C0C0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.info-childs{
    width: 100%;
    padding: 30px;
}
.info-childs h2{
font-size: 2.5rem;
}
.info-childs p{
    margin: 15px;
    color: #333;
}
.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #fff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    transition: background-color .3 ease;
}
.info-childs input:hover{
    background-color: #fff;
    border: none;
    color: #000;
    box-shadow: 0px 4px 15px rgb(32, 249, 249);
    transform: scale(1.05);
}
.form-information{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-information-childs{
    padding: 0 30px;
}
.form-information-childs h2{
    color: #333;
    font-size: 2rem;
}
.form-information-childs p{
    color: #555
}
.icons{
    margin: 15px 0
}
.icons i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    border: solid thin #9191bd;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.icons i:hover{
    background-color: #0909df;
    color: #fff;
    box-shadow: 0px 4px 15px rgb(38, 10, 181);
    transform: scale(1.05);
}
.form{
    display: flex;
    flex-wrap: wrap; /* Permitir flexibilidad en las columnas */
    gap: 5px; /* Espacio entre los elementos */
    justify-content: space-between; /* Separar las columnas */
    
}
.form label{
    width: 48%; /* Cada columna ocupará casi la mitad del ancho */
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.form label input{
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    color: #333;
    border-radius: 5px;
}
.form label i{
    color: #a7a7a7;
}
.form input[type="submit"]{
    grid-column: 2; /* Posiciona el botón en la segunda columna */
    justify-self: left; /* Centra el botón horizontalmente */
    align-self: left; /* Alinea el botón en la parte inferior de la columna */
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.form input[type="submit"]:hover{
    background-color: #7a7a9a;
    box-shadow: 0px 4px 15px rgb(32, 249, 249);
    transform: scale(1.05);
}
.hide {
    position: absolute;
    transform: translateY(-300%);
    transition: transform 0.5s ease-in-out;
}

/*Personalizacion de alertas*/
.form div .alerta{
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: .8rem;
}
.form alertaError{
display: block;
background-color: #F66060;
padding: .5rem 1rem;
margin-top: 10px;
font-weight: 500;
font-size: .8rem;
}
.form >.alerta-error,
.form > .alerta-exito{
    display: none;
}
.form alertaExito{
    display: block;
    background-color: #0ca828;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
}
.form .error{
    outline: solid 2px #9d2222;
}
/*RESPONSIVE FORM*/
@media screen and (max-width: 750px) {
    html {
        font-size: 15px;
    }
}
@media screen and (max-width: 580px){
    html {
        font-size: 10px;
    }
    .container-form {
        height: auto;
        flex-direction: column; /* Cambiar a columna solo en pantallas pequeñas */
    }
    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 20px;
    }
}

.form2{
    margin: 30px 0 0 0;
}
.form2 label{
    display:flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.form2 label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}
.form2 label i{
    color: #a7a7a7;
}
.form2 input[type="submit"]{
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.form2 input[type="submit"]:hover{
    background-color: #7a7a9a;
    box-shadow: 0px 4px 15px rgb(32, 249, 249);
        transform: scale(1.05);
}
.form2 >.alerta-error,
.form2 > .alerta-exito{
    display: none;
}